body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    background-color: #1b1529;
}
/* */
.openBtn {
    color: #ffffff;
    background: none;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.openBtn:hover {
    /*background: #bbb;*/
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(27, 21, 41, 0.8)
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}
.overlay-content form {
    width: 50%;
    margin: 0 auto;
}
.overlay .closebtn {
    position: absolute;
    top: 100px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #bb8b41;
    color: #ffffff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #8c652c;
}

.header .navbar {
    background-color: #1b1529 !important;
}

.header .dropdown-menu {
    background-color: #2c263a;
    border: 2px solid #393542;
    color: #ffffff;
}

.header .dropdown-menu li a{
    color: #ffffff;
}
.header .dropdown-menu li a:hover, .header .dropdown-menu li a:focus{
    background: #bb8b41;
    color: #ffffff;
}

#hero_section {
    padding-top: 100px;
    background: rgb(49,44,60);
background: radial-gradient(circle, rgba(49,44,60,1) 0%, rgba(27,21,41,1) 57%);
}

.header .nav-link {
  font-size: 14px;
  font-weight: 600;
}

.header .btn-primary {
    margin-left: 5px; 
    font-weight: 600;
    padding: 10px 15px;
    background-color: #bb8b41;
    border-color: #bb8b41;  
}

.nav-link {
    color: #ffffff;
    font-weight: 500;
}

.nav-link:hover {
    color: #bb8b41;
}
.nav-link:focus {
    color: #cccccc;
}
.navbar-brand {
    color: #ffffff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #cccccc;
}
.lora-fnt {
   font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#hero_section .title {
    font-size: 70px;
    font-weight: 500;
}
#hero_section .subtitle {
    color: #bb8b41;
    font-style: italic;
    font-size: 70px;
    font-weight: 500;
}

.list-group-item {
    background: none;
    padding-left: 0;
    border: none;
}

.list-group-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    opacity: 0.75;
}
.list-group-item a:hover {
    opacity: 1;
}

#footer_description {
    color: #ffffff;
    opacity: 0.75;
}
#footer_description a {
    color: #bb8b41;
    opacity: 0.75;
    text-decoration: none;
}

.footer-box {
    margin: 0 0 0 20px;
}

#cookies_pref a {
    color: #bb8b41;
    text-decoration: none;
}

.text-primary {
    color: #bb8b41 !important;
}

.btn-primary{
    background-color: #bb8b41;
    border-color: #bb8b41;  
}

.btn-primary:hover{
    background-color: #966f34;
    border-color: #966f34;
    
}

#hero_section .box {
    color: #2f2f40 !important;
    cursor: pointer;
    transition: margin-top 0.25s ease-out 50ms;
}

#hero_section .box:hover {
    color: #2f2f40 !important;
    margin-top: -10px;
}

#hero_section .box h5{
    font-size: 20px;
    font-weight: 600;
  }

#hero_section .box p{
    font-weight: 500;
}

#hero_section .box .btn-primary{
    font-size: 14px;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 30px;
}

.btn-secondary{
    background-color: #2f2f40;
    border-color: #2f2f40;
}

footer .btn-secondary {
    border-radius: 50px;
}

@media only screen and (min-width: 1400px) {
    .container {max-width: 1248px};
}